<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="name" value="minierp_proiect" />
        <add key="user" value="minierp" />
        <add key="password" value="minierp" />
        <add key="host" value="localhost" />
        <add key="port" value="3306" />
        <add key="install_file_path" value="C:\\minierp\\install.sql" />
        <add key="export_path" value="C:\\minierp\\export\\"/>
    </appSettings>
</configuration>